doctype
html
	head
		include includes/head_common.pug
		script(src="/lib/moment/moment.2.20.1.min.js")
		
		<!-- jquery DateTimePicker -->
		script(src="/lib/jquery.datetimepicker/jquery.datetimepicker.full.min.js")
		link(href="/lib/jquery.datetimepicker/jquery.datetimepicker.min.css", rel="stylesheet")

		script(src="/js/chat.js")
	body
		div.window-wrp
			include includes/menu.pug
			div.chat-box
				div.top-line
					h2 Начни общение прямо сейчас!
						div.btn-chat-menu
				div.start-box
					div.start-chat
						h3 Название чата
						input.main-field(id="chat_name", type="text")
						h3 Ссылка на чат http://alaskachat.ru/chat/...
						input.main-field(id="chat_relative_link", type="text")
						div(id="error-chat-relative-link").form-error-message.hidden Чат с такой ссылкой уже существует
						h3 Время старта чата
						p Не отмечайте это поле, если чат начинается прямо сейчас
						input.time-chat(id="chat_start_time", type="text")
						h3 Первое сообщение в чате:
						input.main-field(id="chat_first_message", type="text", value="")
						input.chat-release(type="button", name="", value="Запустить чат")

			// hidden
			input#is-authorized(type="hidden", value= locals.isAuthorized)
		include includes/yandex.pug