doctype
html
	include includes/head_common.pug
	script(src="/lib/clipboard.js/clipboard.min.js")
	script(src="/js/chat_unreg.js")
body
	div.window-wrp
		include includes/menu.pug
		div.chat-box
			div.top-line
				h2= locals.chat.name
					div.btn-chat-menu
			div.start-box
				div.welcome-win
					h3 Общение в этом чате стартует 
						span=locals.start_time_formatted
					div
						img(src="/images/chat.png", alt="Chat")
						h4= locals.chat.name
						if locals.isAuthorized == 1
							h5 Ожидающие
								span= locals.subscribers
					h3 Для того, чтобы пригласить в чат, скопируйте и отправьте ссылку
					div.chat-link(data-clipboard-target=".chat-link")= 'http://alaskachat.ru/chat/' + locals.chat.relative_link
					p(id="success-copy").form-success-message Ссылка скопирована в буфер обмена
					h3 Вы можете оставить свой емайл и мы напомним вам о нем за час до старта
					input.user-mail.main-field(type="email", placeholder="Емайл")
					input.email-left(type="button", value="Присоедниться к общению")
					
					// hidden
					input#chat_id(type="hidden", value=locals.chat.id)
					input#is-authorized(type="hidden", value=locals.isAuthorized)
	include includes/yandex.pug