doctype
html
	include includes/head_common.pug

body
	div.window-wrp
		include includes/menu.pug
		div.chat-box
			div.top-line
				h2 Начни общение прямо сейчас!
					div.btn-chat-menu
			div.start-box
				div.welcome-win
					h3 Общение в этом чате завершилось 
						span
					div
						img(src="/images/chat.png", alt="Chat")
						h4= locals.chat.name
					
					// hidden
					input#chat_id(type="hidden", value=locals.chat.id)
					input#is-authorized(type="hidden", value= locals.isAuthorized)
	include includes/yandex.pug