doctype
html
	head
		include includes/head_common.pug

		script(src="/lib/socket.io/socket.io-2.0.4.min.js")
		script(src="/lib/moment/moment.2.20.1.min.js")
		script(src="/js/chat.js")
	body
		div.window-wrp
			
			// Левая колонка
			div.menu-box
				div.top-line
					h1 AlaskaChat
				div.nav-box
					div.chat-cont 
						p
							img(src="/images/user.png", alt="users") 
							span#users-in-chat-mobile  0
						p
							img(src="/images/time1.png", alt="time") 
							span#time-left-mobile  0
						input.stop-chat(type="button", value="Завершить чат")
					div.nav
						//- if locals.is_friend_from_pikabu
						//- 	h3= locals.user_nickname
						//- 		img(src="/images/pikabu.png", alt="pikabu")
						//- else	
						//- 	h3= locals.user_nickname
						h3= locals.user_nickname
						a(href="/chat/create") Главная страница
						a(href="/profile") Настройки профиля
						if locals.is_superadmin
							a(href="/stat") Статистика
						//- if !locals.is_friend_from_pikabu
						//- 	a.pikabu(href="/profile/friend_from_pikabu")
						//- 		img(src="/images/pikabu.png", alt="pikabu")
						//- 		| Друг с Пикабу
						a(href="/auth/logout") Выйти
					div.chat-users
						h3 Участники чата
					div.menu-contacts По всем вопросам и предложениям Вы можете написать нам на 
						a(href="mailto:alaskachat@yandex.ru") alaskachat@yandex.ru
			// Правая колонка
			div.chat-box
				div.top-line
					h2= locals.chat.name
						div.btn-chat-menu
					h3 Осталось: 
						span#time-left 00:00
					h4#users-in-chat 0
				
				// область сообщений
				div.message-box
					-
						var isAdmin = (locals.user_id == locals.chat.owner_id) ? true : false;
					for message in locals.messages
						-
							var isMine = (message.user_id == locals.user_id) ? true : false;
							var sent = (isMine) ? 'sent' : '';
							var isMarkall = (message.is_markall == 1) ? true : false;
							var marked = (isMarkall) ? 'markall' : '';
						if message.service_flag == -1
							div.sms(user_id=message.user_id, message_id=message.message_id, service_flag=-1)
								img(src= message.avatar)
								div
									h3= message.nickname
									h6= message.date_created
									p.recieved= message.body
						else if message.service_flag == 1
							div.sms(class= sent, user_id=message.user_id, message_id=message.message_id)
								img(src= message.avatar)
								div(class=marked)
									h3= message.nickname + ' присоединился к чату'
									h6= message.date_updated
						else if message.service_flag == 2
							div.sms(class= sent, user_id=message.user_id, message_id=message.message_id)
								img(src= message.avatar)
								div(class=marked)
									h3= message.nickname + ' был заблокирован'
									h6= message.date_updated
						else if message.service_flag == 3
							div.sms(class= sent, user_id=message.user_id, message_id=message.message_id)
								img(src= message.avatar)
								div(class=marked)
									h3= message.nickname + ' покинул чат'
									h6= message.date_updated
						else if message.service_flag == 0
							div.sms(class= sent, user_id=message.user_id, message_id=message.message_id, service_flag=0)
								img(src= message.avatar)
								div(class=marked)
									h3= message.nickname
									if isAdmin && !isMine
										h5
									h6= message.date_created
									p.recieved= message.body
									if message.attach 
										img.sms-attach(src= message.attach) 

						if (message.user_id == locals.user_id) && message.service_flag != 0 
							//hidden
							input#is_markall(type="hidden", value=message.is_markall)

				// панель управления для владельца чата
				div.user-option(style="display:none;", process-user='')
					img#user-option-avatar(src="/images/photo.jpg", alt="User")
					h4#user-option-nickname User name
					input.close-box(type="button", value="Закрыть")
					input.block-user(type="button", value="Заблокировать")
					input.mark-user(type="button", value="Выделить цветом")
					input.markall-user(type="button", value="Выделить цветом для всех")
				
				// панель управления для всех
				div.send-sms
					input#btn-attach-photo.attach(type="button", value="", title="Прикрепить фото")
					img#file-preview.attach(src="", style="display: none; cursor: not-allowed;", title="Убрать фото")
					input#file(type="file", accept=".jpg, .png, .gif", style="display:none;")
					textarea#message_body(placeholder="Сообщение...")
					input#btn-send-message.send(type="button", value="")

				// hidden
				input#chat_id(type="hidden", value=locals.chat.id)
				input#chat_owner_id(type="hidden", value=locals.chat.owner_id)
				input#chat_name(type="hidden", value=locals.chat.name)
				input#user_id(type="hidden", value=locals.user.id)
				input#user_nickname(type="hidden", value=locals.user.nickname)
				input#user_avatar(type="hidden", value=locals.user.avatar)
				input#user_is_friend_from_pikabu(type="hidden", value=locals.user.is_friend_from_pikabu)
				input#is-authorized(type="hidden", value= locals.isAuthorized)
				input#chat_start_time(type="hidden", value= locals.chat.start_time)
		include includes/yandex.pug
