doctype
html
	include includes/head_common.pug
	script(src="/js/chat_started_user_not_authorized.js")
body
	div.window-wrp
		div.menu-box
			div.top-line
				h1 AlaskaChat
			div.chat-rules
				h2 Правила AlaskaChat
				p 1. Любой пользователь может начать свой чат 
					span сейчас или запланировать на определенное время и дату;
				p 2. Длительность каждого чата 
					span не более одного часа;
				p 3. Не смотря на то, что вход только через ВК, каждый пользователь 
					span может изменить имя и аватар для чата;
				p 4. Пользователям 
					span не нужно 
					| указывать емайл или телефон;
				p 5. Администратор чата может 
					span блокировать и удалять нарушителей чата;
				p 6. Администратор чата может 
					span выделять сообщения участников особым цветом;
				p 7. Можно создавать и обсуждать любые темы, 
					span которые не нарушают действующее законодательство Российской Федерации!!!
				p 8. Ничего личного: 
					span оставьте общение в мессенджерах для личных контактов;
				p 9. AlaskaChat 
					span не хранит переписку участников в чате. 
					| Все удаляется сразу после завершения чата.
		div.chat-box
			div.top-line
				h2 Начни общение прямо сейчас!
					div.btn-chat-menu
			div.start-box
				div.welcome-win
					h3 Начните общение в чате сразу после входа на сайт!
					div
						img(src="/images/chat.png", alt="Chat")
						h4= locals.chat.name
						h5 Участников онлайн 
							span= locals.users_cnt
						input.site-enter(type="button", value="Войти в чат")

		// hidden
		input#chat_relative_link(type="hidden", value=locals.chat.relative_link)
	include includes/yandex.pug