doctype
html
	head
		include includes/head_common.pug
		script(src="/js/homepage.js")
	body
		div.window-wrp
			div.promo-page
				h1 Начни общение прямо сейчас!
				div
					p Длительность каждого чата не более одного часа
					p Анонимность пользователей: никто не узнает вашего реального имени
					p Не нужно указывать номер телефона или емайл
					p Админ чата может блокировать нарушителей или выделять сообщения его участников
					p Можно обсуждать актуальные новости, события и проишествия
					p Ничего личного: оставьте мессенджеры на телефоне для личных контактов
				input.comein(type="button", name="", value="Войти на сайт и Запустить чат")
		include includes/yandex.pug