doctype
html
	include includes/head_common.pug
	script(src="/js/profile.js")
body
	div.window-wrp
		include includes/menu.pug
		div.chat-box
			div.top-line
				h2 Начни общение прямо сейчас!
					div.btn-chat-menu
			div.start-box
				div.user-reg
					-
						var greetMsg = 'Нипишите свой ник для общения в чатах и загрузите аватар';
					h3= greetMsg
					div
						input.main-field(id="user_nickname", type="text", value=locals.data.user_nickname)
						div.avatar-container
							img#avatar-icon(src=locals.data.user_avatar, alt="User", title="Загрузить аватар")
							div#upload-icon(title="Загрузить аватар")
						input#file-avatar(type="file", accept=".jpg, .png, .gif", style="display: none")
					if locals.isFirstTime
						input.user-save(type="button", name="", value="Продолжить")
					else
						input.user-save(type="button", name="", value="Сохранить")


			// hidden
			input#is-authorized(type="hidden", value= locals.isAuthorized)
			input#is-first-time(type="hidden", value= locals.isFirstTime)
			input#chat-relative-link(type="hidden", value= locals.chat_relative_link)
	include includes/yandex.pug
