doctype
html
	head
		include includes/head_common.pug
		script(src="/js/profile.js")
	body
		div.window-wrp
			include includes/menu.pug
			div.chat-box
				div.top-line.cut
					h2 Привет, Пикабушник!
						div.btn-chat-menu
				div.start-box
					div.user-reg
						h3 Привет! Введи код, получи иконку "Пикабу" и тэг "@ Друг с Пикабу" рядом с твоим именем, чтобы ты мог найти людей из сообщества в чатах.
						div
							input.main-field-pass(type="text")
						input.user-save(type="button", value="Получить тег")
			// hidden
			input#is-authorized(type="hidden", value= locals.isAuthorized)
		include includes/yandex.pug