doctype
html
	include includes/head_common.pug
	script(src="/js/statistics.js")
body
	div.window-wrp
		include includes/menu.pug
		div.chat-box
			div.top-line
				h2 Статистика
					div.btn-chat-menu
			div.start-box
				div#stat-user-chat.stat-box
					h3 Статистика по пользователям
						span#indicator-users.stat-refresh-indicator cтатистика обновлена
					div
						h6 Пользователей всего
						p#users_total
					//- todo: корректно вывести количество пользователей онлайн
					div(style="display: none;")
						h6 Пользователей на сайте
						p#users_online
					div
						h6 Новых пользователей 
							span за&nbsp;24&nbsp;часа
						p#new_users_last_day
					div
						h6 Новых пользователей 
							span за&nbsp;7&nbsp;дней
						p#new_users_last_week
					div
						h6 Новых пользователей 
							span за&nbsp;14&nbsp;дней
						p#new_users_last_two_weeks
				div#stat-sockets.stat-box
					h3 Статистика по сокетам
						span#indicator-sockets.stat-refresh-indicator cтатистика обновлена
					div
						h6 Кол-во комнат
						p#count-rooms-real
					div
						h6 Кол-во сокетов
						p#count-sockets-connected
			// hidden
			input#is-authorized(type="hidden", value= locals.isAuthorized)
