title= 'AlaskaChat'
meta(charset="UTF-8")
meta(name="description", content="")
meta(http-equiv="content-language", content="ru")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

<!-- jquery -->
script(src="/lib/jquery/jquery-3.1.1.min.js")

script(src="/js/main.js", type="text/javascript")
	
link(rel="stylesheet", type="text/css", href="/css/main.css")
link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900", rel="stylesheet")

<!— Yandex.Metrika counter —> 
<!— /Yandex.Metrika counter —>