div.menu-box
	div.top-line
		h1 AlaskaChat
	div.nav-box
		div.nav
			//- if locals.is_friend_from_pikabu
			//- 	h3= locals.user_nickname
			//- 		img(src="/images/pikabu.png", alt="pikabu")
			//- else	
			//- 	h3= locals.user_nickname
			h3= locals.user_nickname
			a(href="/chat/create") Главная страница
			a(href="/profile") Настройки профиля
			if locals.is_superadmin
				a(href="/stat") Статистика
			//- if !locals.is_friend_from_pikabu
			//- 	a.pikabu(href="/profile/friend_from_pikabu")
			//- 		img(src="/images/pikabu.png", alt="pikabu")
			//- 		| Друг с Пикабу
			a(href="/auth/logout") Выйти
		div.chat-note(style="display: none")
			h3 Чатрум
		div.menu-contacts По всем вопросам и предложениям Вы можете написать нам на 
			a(href="mailto:alaskachat@yandex.ru") alaskachat@yandex.ru
	div.chat-rules(style="display: none")
				h2 Правила AlaskaChat
				p 1. Любой пользователь может начать свой чат 
					span сейчас или запланировать на определенное время и дату;
				p 2. Длительность каждого чата 
					span не более одного часа;
				p 3. Не смотря на то, что вход только через ВК, каждый пользователь 
					span может изменить имя и аватар для чата;
				p 4. Пользователям 
					span не нужно 
					| указывать емайл или телефон;
				p 5. Администратор чата может 
					span блокировать и удалять нарушителей чата;
				p 6. Администратор чата может 
					span выделять сообщения участников особым цветом;
				p 7. Можно создавать и обсуждать любые темы, 
					span которые не нарушают действующее законодательство Российской Федерации!!!
				p 8. Ничего личного: 
					span оставьте общение в мессенджерах для личных контактов;
				p 9. AlaskaChat 
					span не хранит переписку участников в чате. 
					| Все удаляется сразу после завершения чата.