﻿* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	margin: 0 auto;
	background-color: #f8f8f8;
	line-height: 1;
	font-family: 'Open Sans', 'Roboto', sans-serif;
}

ol, ul {
  list-style: none;
}

.window-wrp {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.menu-box {
	display: block;
	width: 21%;
	height: 100%;
	overflow: hidden;
	float: left;
	border-right: 1px solid #edecec;
}

.nav-box {
	display: block;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.nav {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0;
}

.nav h3 {
	margin: 10px;
	margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.nav a {
	display: block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #727272;
    padding: 10px 10px;
    padding-left: 50px;
    line-height: 10px;
}

.nav a:hover {
	background-color: #d2e1e8;
}

.chat-users {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 10px 0;
	padding-bottom: 50px;
}

.chat-users h3 {
	margin: 10px;
	margin-top: 20px;
    margin-left: 20px;
	margin-bottom: 20px;
    font-size: 20px;
}

.inchat-user  {
	display: block;
	width: 90%;
	height: auto;
	overflow: hidden;
	margin: 10px auto;
	cursor: pointer;
	padding: 5px;
	border-radius: 4px;
}

.inchat-user:hover {
	background-color: #d2e1e8;
}

.inchat-user img {
	display: block;
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
	border-radius: 4px;
}

.inchat-user p {
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #727272;
	margin: 10px;
}

.chat-box {
	display: block;
	width: 78%;
	height: 100%;
	overflow: hidden;
	float: left;
	background-image: url(../images/back.jpg);
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
}

.top-line {
	display: block;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #edecec;
	background-color: #fff;
}

.top-line h1 {
	font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 15px;
    font-size: 21px;
    font-weight: 600;
    color: #5b9fc2;
	text-transform: uppercase;
}

.top-line h2 {
	font-family: 'Open Sans', sans-serif;
	color: #313131;
	margin: 15px;
	float: left;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}

.top-line h3 {
	font-family: 'Open Sans', sans-serif;
	color: #313131;
	margin: 15px;
	float: right;
	font-size: 16px;
	font-weight: 500;
}

.top-line h3 span {
	color: #5b9fc2;
}

.top-line h4 {
	font-family: 'Open Sans', sans-serif;
	color: #5b9fc2;
	margin: 15px;
	float: right;
	font-size: 16px;
	font-weight: 500;
	padding-left: 20px;
	background-image: url(../images/user.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: 16px;
}

.cut {
	max-width: 50% !important;
}

.message-box {
	display: block;
	width: 100%;
	height: auto;
	max-height: calc(100vh - 110px);
	overflow: auto;
}

.sms {
	display: block;
	width: auto;
	max-width: 80%;
	height: auto;
	margin: 10px;
	overflow: hidden;
	clear: both;
}

.sms img {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	margin: 10px 5px;
	float: left;
	box-shadow: 2px 2px 8px #bcbcbc;
}

.sms div {
	display: block;
	width: auto;
	max-width: 90%;
	min-width: 40%;
	background-color: white;
	float: left;
	margin: 5px 0;
	border-radius: 4px;
	border: 1px solid #c3c3c3;
	box-shadow: 2px 2px 8px #bcbcbc;
}

.sms h3 {
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 13px;
    margin: 5px 10px;
    margin-right: 20px;
	color: #5b9fc2;
    font-weight: 600;
    float: left;
}

.sms h6 {
	font-family: 'Open Sans', 'Roboto', sans-serif;
    color: #888;
    font-size: 13px;
    margin: 5px 10px;
    font-weight: 400;
	float: right;
}

.sms p {
	clear: both;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    color: #000;
    font-size: 14px;
    margin: 10px;
    font-weight: 400;
    line-height: 19px;
    overflow: hidden;
}

.sent {
	float: right !important;
}

.sent img {
	float: right !important;
}

.sent div {
	float: right !important;
}

.marked {
	border: 1px solid #5b9fc2 !important;
    box-shadow: 2px 2px 8px #5b9fc2 !important;
}

.markall {
	border: 1px solid #ec9932 !important;
    box-shadow: 2px 2px 8px #ec9932 !important;
}

.send-sms {
	display: block;
	width: 100%;
	height: 60px;
	background-color: #fff;
	border-top: 1px solid #edecec;
	position: fixed;
	bottom: 0;
}

.attach {
	display: block;
	width: 6%;
	height: 100%;
	background-color: #fff;
	border: none;
	background-image: url(../images/cam.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	cursor: pointer;
	outline: none;
	float: left;
}

.send-sms textarea {
	display: block;
	width: 65%;
	height: 24px;
	margin: 7px auto;
	overflow: hidden;
	font-family: 'Open Sans', 'Roboto', sans-serif;
	font-size: 14px;
	color: #333;
	padding: 10px;
	border: 1px solid #bcbcbc;
	border-radius: 4px;
	outline: none;
	float: left;
}

.send {
	display: block;
	width: 6%;
	height: 100%;
	background-color: #fff;
	border: none;
	background-image: url(../images/send.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	cursor: pointer;
	outline: none;
	float: left;
}

/*Стили для главной страницы */

.chat-note {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 10px 0;
	padding-bottom: 50px;
}

.chat-note h3 {
	margin: 10px;
	margin-top: 20px;
    margin-left: 20px;
	margin-bottom: 20px;
    font-size: 20px;
}

.chat-info {
	display: block;
	width: 96%;
	height: auto;
	overflow: hidden;
	border-radius: 4px;
	margin: 10px auto;
	border-bottom: 1px solid #d8d8d8;
	cursor: pointer;
}

.chat-info:hover {
	background-color: #d2e1e8;
}

.chat-info img {
	display: block;
	width: 35px;
	height: 35px;
	margin: 10px;
	margin-bottom: 0px;
	overflow: hidden;
	float: left;
}

.chat-info div {
	display: block;
	max-width: 100%;
	max-height: 60px;
	overflow: hidden;
	clear: both;
}

.chat-info div h4 {
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    margin: 10px;
    line-height: 15px;
}

.active-chat {
	color: #5b9fc2 !important;
	font-weight: 500;
}

.chat-info  h5 {
	max-width: 48%;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 13px;
    color: #727272;
    margin: 5px;
    line-height: 15px;
	float: right;
}

.chat-info  h5 span {
	color: #5b9fc2 !important;
	font-weight: 500;
}

.chat-info  h6 {
	max-width: 48%;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 13px;
    color: #727272;
    margin: 5px;
    line-height: 15px;
	float: right;
}

.chat-info  h6 span {
	color: #5b9fc2 !important;
	font-weight: 500;
}

.start-box {
	display: block;
	width: 100%;
	height: auto;
	max-height: calc(100vh - 50px);
	overflow: auto;
}

.start-chat {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0;
	text-align: center;
}

.start-chat h3 {
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 20px;
    color: #222;
    margin: 15px;
    margin-top: 30px;
    font-weight: 500;
}
.start-chat p {
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 13px;
    color: #777;
    margin: 10px;
	font-weight: 500;
	margin-bottom: 25px;
}

.main-field {
	display: block;
	width: 50%;
	height: 40px;
	margin: 0 auto;
	padding-left: 10px;
	background-color: #fff;
	border-radius: 4px;
    border: 1px solid #c3c3c3;
    box-shadow: 2px 2px 8px #bcbcbc;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
} 

.time-chat {
	display: block;
	width: 15%;
	height: 40px;
	margin: 0 auto;
	padding-left: 10px;
	background-color: #fff;
	border-radius: 4px;
    border: 1px solid #c3c3c3;
    box-shadow: 2px 2px 8px #bcbcbc;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
} 

.chat-release {
	display: block;
	width: 30%;
	height: 40px;
	background-color: #5b9fc2;
	border-radius: 4px;
	color: #fff;
	box-shadow: 2px 2px 8px #bcbcbc;
	border: none;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 16px;
	outline: none;
	cursor: pointer;
	margin: 30px auto;
}

.chat-release:hover {
	background-color: #386c88;
}

/*Страница для незарегистрированного пользователя, после перехода по ссылке на чат*/

.welcome-win {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0;
	margin-top: 50px;
	text-align: center;
}

.welcome-win h3 {
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 20px;
    color: #222;
    margin: 15px;
    margin-top: 30px;
    font-weight: 500;
}

.welcome-win h3 span {
    color: #5b9fc2;
}

.site-enter {
	display: block;
	width: 30%;
	height: 40px;
	background-color: #5b9fc2;
	border-radius: 4px;
	color: #fff;
	box-shadow: 2px 2px 8px #bcbcbc;
	border: none;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 16px;
	outline: none;
	cursor: pointer;
	margin: 30px auto;
}

.site-enter:hover {
	background-color: #386c88;
}

.welcome-win div {
	display: block;
	max-width: 40%;
	height: auto;
	overflow: hidden;
	margin: 20px auto;
	background-color: #fff;
	border-radius: 4px;
    border: 1px solid #c3c3c3;
    box-shadow: 2px 2px 8px #bcbcbc;
}

.welcome-win div img {
	display: block;
	width: 60px;
	height: 60px;
	margin: 10px;
	margin-right: 20px;
	float: left;
}

.welcome-win div h4 {
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 17px;
    color: #222;
    margin: 10px;
    font-weight: 400;
	text-align: left;
}

.welcome-win div h5 {
	display: block;
	float: right;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 14px;
    color: #222;
    margin: 10px;
    font-weight: 400;
	text-align: left;
}

.welcome-win div h5 span {
	font-weight: 500;
	color: #5b9fc2;
}

/*Стили для правил-чата*/

.chat-rules {
	display: block;
	width: 98%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}

.chat-rules h2 {
	font-family: 'Open Sans', sans-serif;
    color: #313131;
    margin: 15px;
    font-size: 18px;
    font-weight: 500;
}

.chat-rules p {
	font-family: 'Open Sans', sans-serif;
    color: #313131;
    margin: 10px;
	margin-left: 25px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.chat-rules p span {
	color: #5b9fc2;
	font-weight: 500;
}

/*Страница регистрации пользователя*/

.user-reg {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0;
	margin-top: 50px;
	text-align: center;
}

.user-reg h3 {
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 20px;
    color: #222;
    margin: 15px;
    margin-top: 30px;
	margin-bottom: 50px;
    font-weight: 500;
}

.user-save {
	display: block;
	width: 30%;
	height: 40px;
	background-color: #5b9fc2;
	border-radius: 4px;
	color: #fff;
	box-shadow: 2px 2px 8px #bcbcbc;
	border: none;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 16px;
	outline: none;
	cursor: pointer;
	margin: 30px auto;
}

.user-save:hover {
	background-color: #386c88;
}

.user-reg img {
	display: block;
	width: 150px;
	height: 150px;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 5px;
}

/*Блок опций для пользователя в чате*/

.user-option {
	display: block;
    width: 79%;
    height: 60px;
    background-color: #fff;
    border-top: 1px solid #edecec;
    position: absolute;
    bottom: 61px;
    margin: 0;
    overflow: hidden;
}

.user-option img {
	display: block;
	width: 40px;
	height: 40px;
	margin: 10px;
	border-radius: 4px;
	float: left;
	overflow: hidden;
}

.user-option h4 {
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 16px;
    color: #222;
    font-weight: 500;
    margin: 20px 10px;
    float: left;
}

.close-box {
	display: block;
	width: 120px;
	height: 40px;
	border: none;
	background-color: transparent;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 14px;
    color: #888;
	margin: 10px;
	float: right;
	outline: none;
	cursor: pointer;
}

.close-box:hover {
	background-color: #eaeaea;
}

.block-user {
	display: block;
	width: 150px;
	height: 40px;
	border: none;
	background-color: #f75f5f;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
	margin: 10px;
	float: right;
	outline: none;
	cursor: pointer;
}

.block-user:hover {
	background-color: #8c3131;
}

.mark-user {
	display: block;
	width: 150px;
	height: 40px;
	border: none;
	background-color: #5b9fc2;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
	margin: 10px;
	float: right;
	outline: none;
	cursor: pointer;
}

.mark-user:hover {
	background-color: #356984;
}

.markall-user {
	display: block;
	width: auto;
	height: 40px;
	border: none;
	background-color: #ec9932;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
	margin: 10px;
	float: right;
	outline: none;
	cursor: pointer;
}

.markall-user:hover {
	background-color: #bb761f;
}

/*Стили для страницы заставки*/

.promo-page {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-image: url(../images/back.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}

.promo-page h1 {
	color: #5b9fc2;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 64px;
	margin: 20px auto;
	margin-top: 100px;
	font-weight: 700;
}

.promo-page div {
	display: block;
	width: 70%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}

.promo-page p {
	display: block;
    width: 28%;
    height: 70px;
    color: #555;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 19px;
    font-weight: 400;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    box-shadow: 2px 2px 8px #bcbcbc;
    float: left;
    margin: 10px;
    padding: 10px;
}

.comein {
	display: block;
	width: 30%;
	height: 60px;
	background-color: #5b9fc2;
	border-radius: 4px;
	color: #fff;
	box-shadow: 2px 2px 8px #bcbcbc;
	border: none;
	font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 16px;
	outline: none;
	cursor: pointer;
	margin: 30px auto;
}

.comein:hover {
	background-color: #386c88;
}

.email-left {
	display: block;
    width: 30%;
    height: 40px;
    background-color: #5b9fc2;
    border-radius: 4px;
    color: #fff;
    box-shadow: 2px 2px 8px #bcbcbc;
    border: none;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    margin: 30px auto;
}

.email-left:hover {
	background-color: #386c88;
}